<a href="https://colab.research.google.com/github/t-nanjala/Autolib/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_04_Catherine_Nanjala_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#AUTOLIB ELECTRIC CAR SHARING COMPANY

Autolib' is an electric car sharing service which was inaugurated in Paris, France, in December 2011. It was operated by the Bolloré industrial group. The Autolib' scheme maintains a fleet of all-electric Bolloré Bluecars for public use on a paid subscription basis, employing a citywide network of parking and charging stations. As of 3 July 2016, 3,980 Bluecars had been registered for the service, and the scheme had more than 126,900 registered subscribers.

BUSINESS OBJECTIVE :
The business objective would be to process stations data to understand electric car usage over time.

## 1.0 Importing the libraries to be used

In [0]:
#import the pandas library
import pandas as pd

#import the numpy library
import numpy as np

##1.1 Reading the Dataset from our CSV file

In [0]:
df = pd.read_csv('Autolib_dataset.csv')

##1.2 Previewing our Dataset

In [7]:
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

##1.3 Accessing Information about our Dataset

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

## 1.4 Cleaning our Dataset

### 1.41) Validity

In [0]:
#Dropping of columns that seem duplicative or irrelevant 
df.drop(['Cars', 'Charging Status', 'Status', 'Displayed comment','Geo point', 'Scheduled at'],inplace=True,axis=1)

In [10]:
#reviewing the columns
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 19 columns]

### 1.42) Accuracy

In [0]:
# The data is assumed to have no inrecord errors thus assumed to be fully accurate

### 1.43) Completeness

In [11]:
#Missing values are checked
df.isnull().sum()

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

### 1.44) Consitency

In [12]:
#Checking for duplicated values
df.duplicated 
df.drop_duplicates #drop all duplicated rows
df.shape #Confirmation of new rows

(5000, 19)

### 1.45) Uniformity

In [13]:
#Renaming columns
df.columns= ['address','bluecar','utilib','utilib_1.4','charge_slots','city','station_id','kind','postal_code','public_name','rental_status','slots','station_type','subscription_status','year','month','day','hour','minute']
df.info() #confirming the new column names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   bluecar              5000 non-null   int64
 2   utilib               5000 non-null   int64
 3   utilib_1.4           5000 non-null   int64
 4   charge_slots         5000 non-null   int64
 5   city                 5000 non-null   object
 6   station_id           5000 non-null   object
 7   kind                 5000 non-null   object
 8   postal_code          5000 non-null   int64
 9   public_name          5000 non-null   object
 10  rental_status        5000 non-null   object
 11  slots                5000 non-null   int64
 12  station_type         5000 non-null   object
 13  subscription_status  5000 non-null   object
 14  year                 5000 non-null   int64
 15  month                5000 non-null   int64
 16  day                  5000 non-null   int64
 17  hour                 5000 non-null   int64
 18  minute               5000 non-null   int64
dtypes: int64(11), object(8)
memory usage: 742.3+ KB

##1.5 Exporting the Cleaned Dataset

In [0]:
df.to_csv('Autolib_dataset.csv')

## 1.6 Data Analysis

###1.61 Bluecar

Identify the most popular hour of the day for picking up a Bluecar in the city of Paris over the month of April 2018.

In [124]:
x = df[(df['city'] == 'Paris') & (df['bluecar'] == 0)]
pophr = x.groupby(['hour']).size().sort_values(ascending=False)
pophr.head()

hour
2     54
21    52
3     52
16    50
23    49
dtype: int64

Determine the most popular hour for returning cars.

In [125]:
y = df[(df['slots'] == 0) & (df['bluecar'] > 0)]
hr = y.groupby(['hour']).size().sort_values(ascending=False)
hr.head()

hour
6     63
13    63
5     62
9     61
7     61
dtype: int64

Identify the station that is the most popular overall.

In [105]:
z = df[(df['kind'] == 'STATION') & (df['bluecar'] == 0)]
st = z.groupby(['public_name']).size().sort_values(ascending=False)
st.head(1)

public_name
Limeil-BrÃ©vannes/Lavoisier/12    8
dtype: int64

Determine the station that is the most popular at the most popular picking hour.

In [106]:

a = z[(z['hour'] == 2)]
b = a.groupby(['public_name']).size().sort_values(ascending=False)
b.head(7)

public_name
Versailles/Bonne Aventure/68    1
Paris/Commandant Lamy/2         1
Paris/Grande ArmÃ©e/81          1
Paris/Georges Mandel/42         1
Paris/Friedland/42              1
Paris/FranÃ§ois 1er/38          1
Paris/Francois 1er/7            1
dtype: int64

Identify the postal code that is the most popular for picking up Blue cars and if the most popular station belongs to the postal code overall and at the most popular picking hour.

In [98]:
x = df[(df['bluecar'] == 0 ) & (df['slots'] > 0)]
pst = x.groupby('postal_code').size().sort_values(ascending=False)
pst.head(1)

postal_code
75008    85
dtype: int64

In [126]:
c = df[(df['bluecar'] > 0 ) & (df['slots'] > 0) & (df['postal_code'] == 75008)]
dst = c.groupby('public_name').size().sort_values(ascending=False)
dst

public_name
Paris/Rome/73              5
Paris/Courcelles/69        4
Paris/LiÃ¨ge/24            3
Paris/Saint-HonorÃ©/161    3
Paris/Monceau/43           3
Paris/Haussmann/61         3
Paris/Malesherbes/113      3
Paris/Concorde/Parking     2
Paris/Friedland/42         2
Paris/Chateaubriand/19     2
Paris/Saint-HonorÃ©/422    2
Paris/Malesherbes/7        2
Paris/Matignon/2           2
Paris/Berri/10             2
Paris/Saint-HonorÃ©/123    2
Paris/Constantinople/4     1
Paris/Astorg/11            1
Paris/Saint-HonorÃ©/91     1
Paris/Hoche/31             1
Paris/Courcelles/40        1
Paris/Francois 1er/7       1
Paris/George V/44          1
Paris/Messine/12           1
Paris/Rome/46              1
Paris/Artois/11            1
dtype: int64

In [127]:
c = df[(df['bluecar'] == 0 ) & (df['slots'] > 0) & (df['hour'] == 2) & (df['postal_code'] == 75008)]
dst = c.groupby('public_name').size().sort_values(ascending=False)
dst

public_name
Paris/Friedland/42        1
Paris/FranÃ§ois 1er/38    1
Paris/Francois 1er/7      1
Paris/Dutuit/1            1
Paris/Batignolles/9       1
Paris/Artois/11           1
dtype: int64

### 1.62 Utilib

Identify the most popular hour of the day for picking up a utilib car in the city of Paris over the month of April 2018

In [108]:
x = df[(df['city'] == 'Paris') & (df['utilib'] == 0)]
pophr = x.groupby(['hour']).size().sort_values(ascending=False)
pophr.head()

hour
21    140
16    124
3     120
8     119
9     117
dtype: int64

Determine the most popular hour for returning cars

In [102]:
y = df[(df['slots'] == 0) & (df['utilib'] > 0)]
hr = y.groupby(['hour']).size().sort_values(ascending=False)
hr.head()

hour
5     11
7     10
22     8
14     8
6      7
dtype: int64

Identify the station that is the most popular overall

In [103]:
z = df[(df['kind'] == 'STATION') & (df['utilib'] == 0)]
st = z.groupby(['public_name']).size().sort_values(ascending=False)
st.head(1)

public_name
SÃ¨vres/WolfenbÃ¼ttel/1    11
dtype: int64

Determine the station that is the most popular at the most popular picking hour.

In [109]:
a = z[(z['hour'] == 21)]
b = a.groupby(['public_name']).size().sort_values(ascending=False)
b.head(7)

public_name
Paris/Tronchet/19                     4
Alfortville/Europe/22                 2
Paris/Voltaire/182                    2
Paris/Flandre/61                      2
Paris/Danton/8                        2
ChÃ¢tenay-Malabry/Jean JaurÃ¨s/280    2
Paris/HÃ´pital/47                     2
dtype: int64

Identify the postal code that is the most popular for picking up Blue cars and if the most popular station belongs to the postal code overall and at the most popular picking hour.

In [111]:
x = df[(df['utilib'] == 0 ) & (df['slots'] > 0)]
pst = x.groupby('postal_code').size().sort_values(ascending=False)
pst.head(1)

postal_code
75015    156
dtype: int64

In [128]:
c = df[(df['utilib'] == 0 ) & (df['slots'] > 0) & (df['postal_code'] == 75015)]
dst = c.groupby('public_name').size().sort_values(ascending=False)
dst

public_name
Paris/Pasteur Montparnasse/Parking         7
Paris/ArrivÃ©e/16                          6
Paris/Convention/171                       5
Paris/Finlay/43                            5
Paris/Miollis/21                           5
Paris/Lecourbe/178                         5
Paris/Vaugirard/20                         5
Paris/SÃ©bastien Mercier/44                4
Paris/Ãmile Zola/143                      4
Paris/Grenelle/37                          4
Paris/Dantzig/80                           4
Paris/Ãmile Duclaux/19                    4
Paris/Morillons/95                         4
Paris/Olier/15                             4
Paris/Pasteur/41                           4
Paris/Colonel Pierre Avia/1                4
Paris/Suffren/161                          4
Paris/Balard/108                           4
Paris/Suffren/44                           4
Paris/Commerce/5                           3
Paris/HÃ©ricart/54                         3
Paris/Cambronne/Parking                    3
Paris/Cotentin/29                          3
Paris/Dantzig/37                           3
Paris/Etienne Pernet/26                    3
Paris/FÃ©lix Faure/109                     3
Paris/Houdart de Lamotte/2                 3
Paris/Ãmile Zola/65                       3
Paris/Mademoiselle/22                      3
Paris/Suffren/2                            3
Paris/Paul Barruel/44                      3
Paris/Lourmel/33                           3
Paris/Mademoiselle/67                      2
Paris/Balard/18                            2
Paris/Olivier de Serres/3                  2
Paris/Vaugirard/230                        2
Paris/Convention/75                        2
Paris/Croix Nivert/192                     2
Paris/Suffren/78                           2
Paris/Emile Zola/6                         2
Paris/Lourmel/79                           2
Paris/VouillÃ©/47                          2
Paris/Gerbert/11                           2
Paris/Lecourbe/63                          2
Paris/Jean Sicard/1                        1
Paris/Maine/4                              1
Paris/FÃ©dÃ©ration/10                      1
Paris/Suffren/112                          1
Paris/Lecourbe Mairie du XVÃ¨me/Parking    1
Paris/Leblanc/19                           1
Paris/Lacordaire/56                        1
dtype: int64

In [129]:
c = df[(df['utilib'] == 0 ) & (df['slots'] > 0) & (df['hour'] == 21) & (df['postal_code'] == 75015)]
dst = c.groupby('public_name').size().sort_values(ascending=False)
dst

public_name
Paris/SÃ©bastien Mercier/44    1
Paris/Olivier de Serres/3      1
Paris/Mademoiselle/67          1
Paris/Cambronne/Parking        1
Paris/Balard/18                1
dtype: int64

###1.63 Utilib 1.4

Identify the most popular hour of the day for picking up a utilib car in the city of Paris over the month of April 2018

In [115]:
x = df[(df['city'] == 'Paris') & (df['utilib_1.4'] == 0)]
pophr = x.groupby(['hour']).size().sort_values(ascending=False)
pophr.head()

hour
21    129
8     120
2     116
16    115
3     112
dtype: int64

Determine the most popular hour for returning cars

In [116]:
y = df[(df['slots'] == 0) & (df['utilib_1.4'] > 0)]
hr = y.groupby(['hour']).size().sort_values(ascending=False)
hr.head()

hour
3     19
5     17
9     16
22    15
21    13
dtype: int64

Identify the station that is the most popular overal

In [117]:
z = df[(df['kind'] == 'STATION') & (df['utilib_1.4'] == 0)]
st = z.groupby(['public_name']).size().sort_values(ascending=False)
st.head(1)

public_name
Paris/Voltaire/182    11
dtype: int64

Determine the station that is the most popular at the most popular picking hour.

In [119]:
a = z[(z['hour'] == 21)]
b = a.groupby(['public_name']).size().sort_values(ascending=False)
b.head(1)

public_name
Paris/Tronchet/19    4
dtype: int64

Identify the postal code that is the most popular for picking up Blue cars and if the most popular station belongs to the postal code overall and at the most popular picking hour

In [120]:
x = df[(df['utilib_1.4'] == 0 ) & (df['slots'] > 0)]
pst = x.groupby('postal_code').size().sort_values(ascending=False)
pst.head(1)

postal_code
75015    150
dtype: int64

In [130]:
c = df[(df['utilib_1.4'] == 0 ) & (df['slots'] > 0) & (df['postal_code'] == 75015)]
dst = c.groupby('public_name').size().sort_values(ascending=False)
dst

public_name
Paris/ArrivÃ©e/16                     7
Paris/Pasteur Montparnasse/Parking    7
Paris/Balard/108                      6
Paris/Miollis/21                      6
Paris/Suffren/161                     5
Paris/Convention/171                  5
Paris/Finlay/43                       5
Paris/Lecourbe/178                    5
Paris/Vaugirard/20                    5
Paris/Ãmile Duclaux/19               4
Paris/Colonel Pierre Avia/1           4
Paris/Olier/15                        4
Paris/Dantzig/80                      4
Paris/Grenelle/37                     4
Paris/Suffren/44                      3
Paris/Ãmile Zola/143                 3
Paris/Balard/18                       3
Paris/Cambronne/Parking               3
Paris/Commerce/5                      3
Paris/Cotentin/29                     3
Paris/Dantzig/37                      3
Paris/FÃ©lix Faure/109                3
Paris/Houdart de Lamotte/2            3
Paris/Suffren/2                       3
Paris/HÃ©ricart/54                    3
Paris/Ãmile Zola/65                  3
Paris/Morillons/95                    3
Paris/Paul Barruel/44                 3
Paris/Pasteur/41                      3
Paris/SÃ©bastien Mercier/44           3
Paris/Mademoiselle/22                 3
Paris/VouillÃ©/47                     2
Paris/Convention/75                   2
Paris/Olivier de Serres/3             2
Paris/Croix Nivert/192                2
Paris/Lecourbe/63                     2
Paris/Vaugirard/230                   2
Paris/Mademoiselle/67                 2
Paris/Gerbert/11                      2
Paris/Lourmel/79                      2
Paris/Etienne Pernet/26               1
Paris/Leblanc/19                      1
Paris/Maine/4                         1
Paris/Grenelle/139                    1
Paris/Lourmel/33                      1
Paris/Jean Sicard/1                   1
Paris/Lacordaire/56                   1
Paris/Suffren/112                     1
Paris/Suffren/78                      1
Paris/Emile Zola/6                    1
dtype: int64

In [131]:
c = df[(df['utilib_1.4'] == 0 ) & (df['slots'] > 0) & (df['hour'] == 21) & (df['postal_code'] == 75015)]
dst = c.groupby('public_name').size().sort_values(ascending=False)
dst

public_name
Paris/SÃ©bastien Mercier/44    1
Paris/Olivier de Serres/3      1
Paris/Mademoiselle/67          1
Paris/Cambronne/Parking        1
Paris/Balard/18                1
Paris/Balard/108               1
dtype: int64